h2 {
    color: red;
}

p {
    color: green;
}

section > p {
    color: tomato;
}

section h2 {
    color: blue;
}

div {
    border: 2px solid red;
    margin: 10px;
    padding: 5px;
}

div p {
    color: violet;
}