* {
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

:root {
    --blue: hsl(242, 82%, 53%);
    --brown: hsl(0, 80%, 20%);
    --yellow: hsl(50, 91%, 43%);
    --red: hsl(0, 92%, 42%);
  }

.general-para-tag{
    color: var(--brown);
}

.content-color{
    color: var(--blue);
}

.highlight-content{
    color: var(--blue);
    background-color: var(--yellow);
}

.simple-border{
    border: 1px black solid;
    margin: 2px;
}